@{
    ViewData["Title"] = "Potvrzení emailu";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Děkujeme za potrvzení emailu. Prosíme <a asp-controller="Account" asp-action="Login">klikněte zde pro přihlášení</a>.
    </p>
</div>
