@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Vaše heslo bylo resetováno. <a asp-controller="Account" asp-action="Login">Klikněte zde pro přihlášení</a>.
</p>
