@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <br>
</div>

@section scripts {
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-load-image/js/load-image.all.min.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
    <script asp-append-version="true" src="~/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script asp-append-version="true" src="~/js/index.js"></script>
}