@model IEnumerable<IntranetGJAK.Models.File>

@{
    ViewData["Title"] = "Seznam souborù";
}

@section scripts {
    <script src="~/lib/isotope/dist/isotope.pkgd.js"></script>
}

<div class="grid">
    @foreach (var item in Model)
    {
        <div class="grid-item js-isotope">
            <table>
                <tr>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uploader)
                    </td>
                </tr>
            </table>
        </div>
    }
</div>