@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";

.body-content {
    margin-top: 70px;
}

#filetable {
    .name {
        font-weight: bolder;
    }
}

.table .name {
    word-break: break-all;
}
