<?xml version="1.0"?>
<!-- Demo: Eventing is enabled for events demo -->
<backload eventing="true"  xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema">

  <!-- Demo: Set the root upload folder to "Uploads" (default: Files) -->
  <fileSystem filesRoot="~/Uploads" />
  
  <!-- Demo: Return HTTP status FORBIDDEN if no objectContext parameter (e.g. user id) is send with the request -->
  <security forceObjectContext="true" />

</backload>
    