@using System.Web.Optimization

@{
    ViewBag.Title = "JQuery UI theme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <!-- jQuery UI styles to switch the themes in this demo -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/dark-hive/jquery-ui.css" id="theme">

    <!-- Styles for the jQquery File Upload Plugin jQuery UI style -->
    @Styles.Render("~/backload/blueimp/jqueryui/css")

    <!-- The main application styles -->
    <link href="~/Content/demo.jqueryui.styles.css" rel="stylesheet" />
}

    <!-- Start of the render section -->

    <!-- Demo: jQuery UI theme switcher -->
    <form>
        <label for="theme-switcher">Theme:</label>
        <select id="theme-switcher" class="pull-right">
            <option value="black-tie">Black Tie</option>
            <option value="blitzer">Blitzer</option>
            <option value="cupertino">Cupertino</option>
            <option value="dark-hive" selected>Dark Hive</option>
            <option value="dot-luv">Dot Luv</option>
            <option value="eggplant">Eggplant</option>
            <option value="excite-bike">Excite Bike</option>
            <option value="flick">Flick</option>
            <option value="hot-sneaks">Hot sneaks</option>
            <option value="humanity">Humanity</option>
            <option value="le-frog">Le Frog</option>
            <option value="mint-choc">Mint Choc</option>
            <option value="overcast">Overcast</option>
            <option value="pepper-grinder">Pepper Grinder</option>
            <option value="redmond">Redmond</option>
            <option value="smoothness">Smoothness</option>
            <option value="south-street">South Street</option>
            <option value="start">Start</option>
            <option value="sunny">Sunny</option>
            <option value="swanky-purse">Swanky Purse</option>
            <option value="trontastic">Trontastic</option>
            <option value="ui-darkness">UI Darkness</option>
            <option value="ui-lightness">UI Lightness</option>
            <option value="vader">Vader</option>
        </select>
    </form>


    <br>
    <blockquote>
        <p>
            ile Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery UI.
            Supports cross-domain, chunked and resumable file uploads and client-side image resizing.
        </p>
    </blockquote>
    <br>

    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="~/Backload/FileHandler" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="fileupload-buttonbar">
            <div class="fileupload-buttons">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="fileinput-button">
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="start">Start upload</button>
                <button type="reset" class="cancel">Cancel upload</button>
                <button type="button" class="delete">Delete</button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="fileupload-progress fade" style="display:none">
                <!-- The global progress bar -->
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation"><tbody class="files"></tbody></table>
    </form>


    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress"></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                <button class="start" disabled>Start</button>
                {% } %}
                {% if (!i) { %}
                <button class="cancel">Cancel</button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>


    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                </p>
                {% if (file.error) { %}
                <div><span class="error">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                <button class="delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>Delete</button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            </td>
        </tr>
        {% } %}
    </script>


    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    
<!-- End of the render section -->


@section scripts {
    <!-- jQuery UI script* -->
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

    <!-- Scripts for the jQquery File Upload Plugin in jQuery UI style* -->
    @Scripts.Render("~/backload/blueimp/jqueryui")

    <!-- The demo application script -->
    <script src="/Scripts/demos.blueimp.jqueryui.js"></script>

}
