<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntranetGJAK</title>

    <link asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
    @await RenderSectionAsync("styles", false)
</head>
<body>
    @RenderBody()
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>