
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Demos</title>
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        body {
            margin:100px;
            margin-top:50px;
        }

        div {
        width: 800px;
        }

        h2 {
        font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
        margin: 30px 0px 10px -10px;
        padding: 0;
        }

        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
        }

        li:last-child {
        border: none;
        }

        li a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 750px;

        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
        }

        li a:hover {
        font-size: 20px;
        background: #f6f6f6;
        }
    </style>

</head>
<body>
    <div> 
        <div id="container">
            <h2>jQuery File Upload Plugin from blueimp</h2>
            <ul>
                <li><a href="/home/basic">Basic Theme</a></li>
                <li><a href="/home/basicplus">Basic Plus Theme</a></li>
                <li><a href="/home/basicplusui">Basic Plus UI Theme</a></li>
                <li><a href="/home/angularjs">AngularJS Theme</a></li>
                <li><a href="/home/jqueryui">jQuery UI Theme</a></li>
            </ul>
            <h2>PlUpload from Moxiecode Systems AB</h2>
            <ul>
                <li><a href="/Home/PlUploadSimple">Simple Style demo</a></li>
                <li><a href="/Home/PlUploadUI">UI Style demo</a></li>
            </ul>
            <h2>Fine Uploader from Widen Enterprises</h2>
            <ul>
                <li><a href="/Home/FineUploaderDefault">Default UI demo</a></li>
                <li><a href="/Home/FineUploaderSimple">Simple UI with Thumbnails demo</a></li>
                <li><a href="/Home/FineUploaderGallery">Gallery View demo</a></li>
            </ul>
            <h2>Custom controller demos</h2>
            <ul>
                <li><a href="/Home/CustomEvents">Events demo</a></li>
                <li><a href="/Home/CustomAPI">Basic API demo</a></li>
                <li><a href="/Home/CustomDB">Database storage demo</a></li>
            </ul>
            <h2>Other demos</h2>
            <ul>
                <li><a href="/Other/ASPNET/ClassicDemo.aspx">Classic ASP.NET demo</a></li>
            </ul>
        </div>

    </div>
</body>
</html>
